{
  "swagger": "2.0",
  "host": "api.spotify.com",
  "schemes": ["https"],
  "info": {
    "description": "An open API for searching activities suitable for boy scouts and girl guides. The data is mirrored from www.aktivitetsbanken.se.",
    "version": "1.0 and 2.0",
    "title": "API for Aktivitetsbanken",
    "contact": {
      "name": "/dev/scout"
    }
  },
  "basePath": "/api",
  "tags": [
    {
      "name": "activities"
    },
    {
      "name": "media files"
    },
    {
      "name": "system messages"
    },
    {
      "name": "system status"
    },
    {
      "name": "tags or categories"
    },
    {
      "name": "users"
    },
    {
      "name": "user content"
    }
  ],
  "paths": {
    "/v1/activities": {
      "post": {
        "tags": [
          "activities"
        ],
        "summary": "Create a new activity",
        "description": "",
        "operationId": "create_1",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ActivityProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Activity"
            }
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "bad request",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ]
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Activity": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "properties_revisions": {
          "type": "array",
          "xml": {
            "name": "propertiesRevisions",
            "wrapped": true
          },
          "items": {
            "xml": {
              "name": "properties"
            },
            "$ref": "#/definitions/ActivityProperties"
          }
        },
        "properties": {
          "$ref": "#/definitions/ActivityProperties"
        },
        "ratings_count": {
          "type": "integer",
          "format": "int64"
        },
        "ratings_sum": {
          "type": "integer",
          "format": "int64"
        },
        "favourites_count": {
          "type": "integer",
          "format": "int64"
        },
        "ratings_average": {
          "type": "number",
          "format": "double"
        },
        "related": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    },
    "ActivityProperties": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "minLength": 0,
          "maxLength": 100
        },
        "date_published": {
          "type": "string",
          "format": "date-time"
        },
        "date_created": {
          "type": "string",
          "format": "date-time"
        },
        "date_updated": {
          "type": "string",
          "format": "date-time"
        },
        "description_material": {
          "type": "string",
          "minLength": 0,
          "maxLength": 20000
        },
        "description_introduction": {
          "type": "string",
          "minLength": 0,
          "maxLength": 20000
        },
        "description_prepare": {
          "type": "string",
          "minLength": 0,
          "maxLength": 20000
        },
        "description_main": {
          "type": "string",
          "minLength": 0,
          "maxLength": 20000
        },
        "description_safety": {
          "type": "string",
          "minLength": 0,
          "maxLength": 20000
        },
        "description_notes": {
          "type": "string",
          "minLength": 0,
          "maxLength": 20000
        },
        "age_min": {
          "type": "integer",
          "format": "int32",
          "maximum": 100
        },
        "age_max": {
          "type": "integer",
          "format": "int32",
          "maximum": 100
        },
        "participants_min": {
          "type": "integer",
          "format": "int32"
        },
        "participants_max": {
          "type": "integer",
          "format": "int32"
        },
        "time_min": {
          "type": "integer",
          "format": "int32"
        },
        "time_max": {
          "type": "integer",
          "format": "int32"
        },
        "featured": {
          "type": "boolean"
        },
        "source": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "xml": {
            "wrapped": true
          },
          "items": {
            "xml": {
              "name": "tag"
            },
            "$ref": "#/definitions/Tag"
          }
        },
        "media_files": {
          "type": "array",
          "xml": {
            "name": "mediaFiles",
            "wrapped": true
          },
          "items": {
            "xml": {
              "name": "mediaFile"
            },
            "$ref": "#/definitions/MediaFile"
          }
        },
        "author": {
          "$ref": "#/definitions/User"
        },
        "activity": {
          "$ref": "#/definitions/Activity"
        }
      }
    },
    "MediaFile": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "mime_type": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "capture_date": {
          "type": "string",
          "format": "date-time"
        },
        "copy_right": {
          "type": "string"
        },
        "author": {
          "type": "string"
        }
      }
    },
    "Tag": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "group": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "media_file": {
          "$ref": "#/definitions/MediaFile"
        },
        "activities_count": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "email_address": {
          "type": "string"
        },
        "authorization_level": {
          "type": "integer",
          "format": "int32"
        },
        "identities": {
          "type": "array",
          "xml": {
            "wrapped": true
          },
          "items": {
            "xml": {
              "name": "identity"
            },
            "$ref": "#/definitions/UserIdentity"
          }
        }
      }
    },
    "UserIdentity": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "date_created": {
          "type": "string",
          "format": "date-time"
        },
        "type": {
          "type": "string",
          "enum": [
            "API",
            "GOOGLE"
          ]
        },
        "value": {
          "type": "string"
        },
        "user": {
          "$ref": "#/definitions/User"
        }
      }
    },
    "ActivityRatingAttrs": {
      "type": "object",
      "properties": {
        "rating": {
          "type": "integer",
          "format": "int32"
        },
        "favourite": {
          "type": "boolean"
        }
      }
    },
    "SystemMessage": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "valid_to": {
          "type": "string",
          "format": "date-time"
        },
        "valid_from": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "RolesView": {
      "type": "object",
      "properties": {
        "permission_levels": {
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        },
        "role_levels": {
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "UserProfileView": {
      "type": "object",
      "properties": {
        "role_permissions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      }
    },
    "PutFavouritesEntity": {
      "type": "object",
      "properties": {
        "id": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    }
  }
}